*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.cabecalho{
    background-color: rgb(225, 6, 0);
    height: 80px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-around;
    border-bottom: #000000 10px solid;
    margin-bottom: 30px;
}

.cabecalho-menu{
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.f1-logo{
    width: 200px;
    height: 60px;
}

.menu-option{
    padding: 5px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    transition: 0.5s;
}

.menu-option:hover{
    transition: 0.5s;
    padding: 10px;
    background-color: #000000;
    color: #ffffff;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.principal{
    margin-bottom: 20px;
    display: flex;
    width: 50%;
    height: 300px;
    border: 1px solid black;
    border-radius: 10px;
}

.principal-image{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    height: 100%;
}

.noticia-1{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.noticia-imagem{
    width: 40%;
}

.noticia-titulo{
    text-align: center;
    font-size: 20px;
    padding: 10px;
}

.feature{
    color: red;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 10px;
    margin-left: 20px;
}

.conteudo{
    text-align:start;
    font-size: 15px;
    margin: 30px;
    height: 200px;
}

.rodape{
    align-items: center;
    height: 80px;
    display: flex;
    background-color: #38383f;
    justify-content: space-between;
}

.redes-sociais{
    width: 40px;
    height: 40px;
    margin: 10px;
}

.rodape-section{
    display: flex;
    justify-content: center;
    width: 33%;
}

#direitos{
    color: #ffffff;
    text-align: center;
    font-size: 10px;
}

.main-historia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.decadas,.historia-abertura,.historia-conclusao{
    width: 80%;
    margin: 10px;
    text-align: start;
}

#historico{
    text-align: center;
    width: 70%;
}

#tabela-historico{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

td{
    margin: 0px;
    padding: 10px;
    text-align: start;
    border: 1px solid black;
}

.corrida{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.corrida-descricao{
    margin: 10px;
}

.bandeira{
    padding: 10px;
    width: 60px;
    height: 60px;
}

.main-calendario{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.section-pilotos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}
.section-pilotos h1{
    font-size: 40px;
    margin-bottom: 30px;
}

.lista-pilotos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lista-pilotos li{
    padding: 20px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-equipes{
    margin: 0 auto;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.piloto-imagem{
    width: 220px;
    height: 150px;
    margin-bottom: 10px;
}

.equipe-imagem {
    width: 1000px;
    height: 500px;
    margin: 50px;
}